// This page contains the animations for page transitions and hovers
// DRY (Don't Repeat Yourself) code is lame and unreadable. We're talking about a couple more kilobytes here
// That's why this is all mixins, so the SCSS is readable.


@keyframes fadein {
    from {opacity: 0;};
    to {opacity: 1;};
}
@keyframes fadeout {
    from {opacity: 1;};
    to {opacity: 0;};
}

// Media queries and animations...don't have fun together. So we have to separate them out.

@keyframes expand {
    from { height: $handle; };
    to { height: calc(100vh - #{$handle}  * 2); }
}

@keyframes expand-sm {
    from { height: $handle-sm; };
    to { height: calc(100vh - #{$handle-sm} * 2); }
}

@keyframes expand-md {
    from { height: $handle-md; };
    to { height: calc(100vh - #{$handle-md} * 2); }
}

@keyframes expand-lg {
    from { height: $handle-lg; };
    to { height: calc(100vh - #{$handle-lg} * 2); }
}

@keyframes expand-xl {
    from { height: $handle-xl; };
    to { height: calc(100vh - #{$handle-xl} * 2); } 
}

@keyframes shrink {
    from { height: calc(100vh - #{$handle} * 2); }
    to { height: $handle; };
}

@keyframes shrink-sm {
    from { height: calc(100vh - #{$handle-sm} * 2); }
    to { height: $handle-sm; };
}

@keyframes shrink-md {
    from { height: calc(100vh - #{$handle-md} * 2); }
    to { height: $handle-md; };
}

@keyframes shrink-lg {
    from { height: calc(100vh - #{$handle-lg} * 2); }
    to { height: $handle-lg; };
}

@keyframes shrink-xl {
    from { height: calc(100vh - #{$handle-xl} * 2); }
    to { height: $handle-xl; };
}

%anim {
    animation-delay: 0.15s;
    animation-duration: 0.35s;
    transition-timing-function: cubic-bezier(.24,0,.18,1);
    animation-fill-mode: both;
}

.anim--shrink {
    @extend %anim;
    animation-name: shrink;
    @include breakpoints(animation-name, shrink-sm, shrink-md, shrink-lg, shrink-xl);


}

.anim--expand {
    @extend %anim;
    animation-name: expand;
    @include breakpoints(animation-name, expand-sm, expand-md, expand-lg, expand-xl);
}

%anim--short {
    animation-duration: 0.15s;
    animation-fill-mode: both;
}

.anim--fadein {
    @extend %anim--short;
    animation-name: fadein;
    
}

.anim--fadeout {
    @extend %anim--short;
    animation-name: fadeout;
}