// This page contains the animations for page transitions and hovers


@keyframes fadein {
    from {opacity: 0;};
    to {opacity: 1;};
}
@keyframes fadeout {
    from {opacity: 1;};
    to {opacity: 0;};
}

@keyframes expand {
    from { height: $handle-sm; };
    to { height: calc(100vh - #{$handle-sm} * 2); }
}

@keyframes shrink {
    from { height: calc(100vh - #{$handle-sm} * 2); }
    to { height: $handle-sm; };
}

%anim {
    animation-delay: 0.15s;
    animation-duration: 0.35s;
    transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    animation-fill-mode: both;
}

.anim--shrink {
    @extend %anim;
    animation-name: none;
    @include bp-sm- {
        animation-name: shrink;
    }
}

.anim--expand {
    @extend %anim;
    animation-name: none;
    @include bp-sm- {
        animation-name: expand;
    }
}

%anim--short {
    animation-duration: 0.25s;
    animation-fill-mode: both;
    animation-timing-function: linear;
}

.anim--fadein {
    @extend %anim--short;
    animation-name: fadein;
    
}

.anim--fadeout {
    @extend %anim--short;
    animation-name: fadeout;
}