// Breakpoints
$julian: 1700px; // Big displays
$mike: 1400px; // 15in laptops
$rohan: 1100px; // 13in laptops
$sol: 700px; // small windows, iPads
// Default is phone sized

// Breakpoints

@mixin bp-lg-xl {
  @media (min-width: #{$mike}) and (max-width: #{$julian - 1px}) {
    @content;
  }
}

@mixin bp-md-lg {
  @media (min-width: #{$rohan}) and (max-width: #{$mike - 1px}) {
    @content;
  }
}

@mixin bp-sm-md {
  @media (min-width: #{$sol}) and (max-width: #{$rohan - 1px}) {
    @content;
  }
}

@mixin bp-xl- {
  @media (min-width: #{$julian}) {
      @content;
  }
}

@mixin bp-xl {
  @media (max-width: #{$julian - 1px}) {
      @content;
  }
}

@mixin bp-lg {
    @media (max-width: #{$mike - 1px}) {
        @content;
    }
}

@mixin bp-md {
    @media (max-width: #{$rohan - 1px}) {
        @content;
    }
}

@mixin bp-sm- {
  @media (min-width: #{$sol}) {
      @content;
  }
}

@mixin bp-sm {
  @media (max-width: #{$sol - 1px}) {
      @content;
  }
}

// This is a cheap, fun mixin that makes defining breakpoints a million times easier
@mixin breakpoints($property, $sm, $md, $lg, $xl) {

    @include bp-sm-md {
      #{$property}: $sm;
    }

    @include bp-md-lg {
        #{$property}: $md;
    }

    @include bp-lg-xl {
        #{$property}: $lg;
    }
    
    @include bp-xl- {
      #{$property}: $xl;
    }
}
