// Breakpoints
$xxl-bangkok: 1600px;
$xl-miami: 1280px;
$lg-rye: 1024px;
$md-vineyard: 768px;
$sm-montpelier: 600px;

// Breakpoints

@mixin bp-xl-xxl {
    @media (min-width: #{$xl-miami}) and (max-width: #{$xxl-bangkok - 1px}) {
      @content;
    }
  }

@mixin bp-lg-xl {
  @media (min-width: #{$lg-rye}) and (max-width: #{$xl-miami - 1px}) {
    @content;
  }
}

@mixin bp-md-xl {
    @media (min-width: #{$md-vineyard}) and (max-width: #{$xl-miami - 1px}) {
      @content;
    }
  }

@mixin bp-md-lg {
  @media (min-width: #{$md-vineyard}) and (max-width: #{$lg-rye - 1px}) {
    @content;
  }
}

@mixin bp-md-xxl {
    @media (min-width: #{$md-vineyard}) and (max-width: #{$xxl-bangkok - 1px}) {
      @content;
    }
  }

@mixin bp-lg-xl {
    @media (min-width: #{$lg-rye}) and (max-width: #{$xl-miami - 1px}) {
      @content;
    }
  }

  @mixin bp-lg-xxl {
    @media (min-width: #{$lg-rye}) and (max-width: #{$xxl-bangkok - 1px}) {
      @content;
    }
  }

@mixin bp-md-lg {
  @media (min-width: #{$md-vineyard}) and (max-width: #{$lg-rye - 1px}) {
    @content;
  }
}

@mixin bp-sm-md {
  @media (min-width: #{$sm-montpelier}) and (max-width: #{$md-vineyard - 1px}) {
    @content;
  }
}

@mixin bp-sm {
    @media (max-width: #{$sm-montpelier - 1px}) {
        @content;
    }
}

@mixin bp-xxl- {
    @media (min-width: #{$xxl-bangkok}) {
        @content;
    }
}

@mixin bp-lg {
    @media (max-width: #{$lg-rye - 1px}) {
        @content;
    }
}

@mixin bp-lg- {
    @media (min-width: #{$lg-rye}) {
        @content;
    }
}

@mixin bp-md {
    @media (max-width: #{$md-vineyard - 1px}) {
        @content;
    }
}

@mixin bp-sm {
    @media (max-width: #{$sm-montpelier - 1px}) {
        @content;
    }
}



@mixin bp-md- {
    @media (min-width: #{$md-vineyard}) {
        @content;
    }
}

@mixin bp-xl- {
    @media (min-width: #{$xl-miami}) {
        @content;
    }
}

// This is a cheap, fun mixin that makes defining breakpoints a million times easier
@mixin breakpoints($property, $md, $lg, $xl, $xxl) {

    @include bp-md-lg {
        #{$property}: $md;
    }

    @include bp-lg-xl {
        #{$property}: $lg;
    }

    @include bp-xl-xxl {
        #{$property}: $xl;
    }

    @include bp-xxl- {
        #{$property}: $xxl;
    }
}