// GLOBALS
// Trying to keep global selectors as minimal as possible

body,html {
    margin: 0;
    padding: 0;
    background: $white;
    @include type--default
}

div {
    box-sizing: border-box;
}

// COMPONENT MIXINS
@mixin button {
    @include type--default;
    padding: 3px;
    border: 1px solid black;
    outline: none;
    background: none;

    &:hover {
        background: black;
        color: $white;
    }
}

// ANIMATED NAV

nav#nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    pointer-events: none;
    z-index: 100;

    .nav--pane {
    height: 50px;
    transition: 0.25s;
    border-top: 1px solid $black;
    // box-shadow: 0px -10px 20px rgba(0,0,0,0.05);

        .pane--handle {
            @include type--uppercase;
            height: 50px;
            padding-top: 12px;
            background: $white;
            pointer-events: all;
            padding-left: 60px;
            padding-right: 60px;
            text-align: justify;
            text-align-last: justify;
        }

        &.__isactive {
            height: calc(100vh - 100px)
        }


        &:last-child {
            &.anim--expand, &.anim--shrink {
                background: $misterworldwides-yellow;
            }
            .pane--handle {
                background: $misterworldwides-yellow;
                position: relative;

                &.__hasmarquee {
                    padding-left: 0;
                    padding-right: 0;
                }
            }
            white-space: nowrap;

            .notices--overlay {
                position: absolute;
                top: 0;
                left: 0;
                padding-top: 12px;
                padding-left: 60px;
                padding-right: 30px;
                z-index: 200;
                background: linear-gradient(to right, rgba(255,249,116,1) 90%, rgba(255,249,116,0) 100%),

            }

            .notices--marquee {
                padding-left: 200px;
                overflow: hidden;
            }
        }
    }

    a {
        color: $black;
        text-decoration: none;
        text-transform: uppercase;
    }

    
}

#container {
    
}

main {

    &#home {
        padding-top: 50px;
        #content {
            @include type--huge;
            text-align: center;
            padding: 0 60px;
        }
        margin-bottom: 100px;
    }

    &#about {
        padding-top: 100px;
    }

    &#notices {
        background: $misterworldwides-yellow;
        padding-top: 150px;
        min-height: calc(100vh - 150px);
    }

    &#notice {
        background: $misterworldwides-yellow;
        padding-top: 150px;
        min-height: calc(100vh - 150px);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #content {
        // width: 1400px;
        margin: 0 auto;
        padding-bottom: 30px;
    }
}

section#featured--notice {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 320px);
    color: $white;
    background: #2C3DDE;
    border-radius: 50vw/40vh;
    margin: 160px;
    a {
        color: $white;
    }
}

// NOTICES
article.notice {
    padding-top: 30px;
    border-bottom: 1px solid $black;
    padding-left: 60px;
    padding-right: 60px;
    transition: padding 0.25s;

    &:first-child {
        margin-top: 0;
    }
    &:last-child {
        margin-bottom: 0;
        border: none;
    }
    &.__isactive {
        .notice--content {
            display: block
        }
        .notice--tools {
            display: block;
        }
    }

    &:not(.__isactive).__isinteractive:hover {
        background: $black;
        color: $misterworldwides-yellow;
        cursor: pointer;
    }

    .notice--title {
        text-align: center;
        margin-bottom: 30px;
    }

    .notice--content {
        @include type--multiline;
        display: none;
        margin-bottom: 30px;
    }

    .notice--tools {
        padding-right: 30px;
        display: none;
    }

    .notice--date {
        &.__isisolated {
            text-align: center;
            margin-bottom: 30px;
        }
    }

    .notice--button {
        @include button;
        display: inline-block;
        text-align: center;
        border-right: none;
        width: 50%;
        &:hover {
            color: $misterworldwides-yellow;
        }
        &:last-child {
            border-right: 1px solid $black;
        }
    }
}