// GLOBALS
// Trying to keep global selectors as minimal as possible

body,html {
    margin: 0;
    padding: 0;
    @include type--default
}

div {
    box-sizing: border-box;
}

// ANIMATED NAV

nav#nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    pointer-events: none;
    z-index: 100;

    .nav--pane {
    height: 50px;
    border-top: 1px solid $black;
    // box-shadow: 0px -10px 20px rgba(0,0,0,0.05);

        .pane--handle {
            height: 50px;
            text-align: center;
            padding-top: 12px;
            background: $white;
            pointer-events: all;
        }

        &.__isactive {
            height: calc(100vh - 100px)
        }

        &:last-child {
            &.anim--expand {
                background: $misterworldwides-yellow;
            }
            .pane--handle {
                background: $misterworldwides-yellow;
            }
        }
    }

    a {
        color: black;
        text-decoration: none;
        text-transform: uppercase;
    }

    
}

#container {
    
}

main {
    min-height: 100vh;
    text-align: center;

    &#notices {
        background: $misterworldwides-yellow;
        padding-top: 150px;
    }
}