@font-face {
    font-family: 'GT Walsheim';
    src: url('../fonts/gt-walsheim-regular.ttf') format('truetype');
  }

// All type sizing and styling is isolated to this file.

%type--default {
    font-family: 'GT Walsheim';
    font-size: $body;
    color: $black;
    line-height: 1.15em;

    @include breakpoints(font-size, $body-sm, $body-md, $body-lg, $body-xl);

    p {
        margin: 0;
    }

    a {
        text-decoration: none;
    }
}

%type--body {

    a {
        text-decoration: underline;

        &:hover {
            color: $brutalistikea-blue;
        }
    }
    p {
        margin-bottom: 0.8em;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

%type--body__upper {
    @extend %type--body;
    text-transform: uppercase;
    letter-spacing: 0.01em;
}

%type--heading {
    font-size: $heading;
    letter-spacing: -0.02em;
    line-height: 1em;

    @include breakpoints(font-size, $heading-sm, $heading-md, $heading-lg, $heading-xl);

    a {
        text-decoration: none;
    }
}

%type--heading__upper {
    @extend %type--heading;
    text-transform: uppercase;
}

%type--feature {
    font-size: $feature;
    letter-spacing: -0.03em;
    line-height: 1.1em;

    @include breakpoints(font-size, $feature-sm, $feature-md, $feature-lg, $feature-xl);

    a {
        text-decoration: underline;
        &:hover {
            color: $brutalistikea-blue;
        }
    }
}

h1 {
    @extend %type--feature;
    font-weight: normal;
    margin: 0;
}

h2 {
    @extend %type--heading;
    font-weight: normal;
    margin: 0;
}

h3,h4,h5,h6 {
    @extend %type--default;
}

a {
    color: inherit;
}