// All type sizing and styling is isolated to this file.

@mixin type--default {
    font-family: 'GT Zirkon';
    font-size: 24px;
    color: $black;
    line-height: 1em;
    letter-spacing: -0.02em;
    p {
        margin: 0;
    }
}

@mixin type--uppercase {
    // font-family: 'Domaine Display';
    // letter-spacing: 0;
    font-size: 28px;
}

@mixin type--big {
    font-size: 36px;
    line-height: 0.97em;
    letter-spacing: -0.04em;
    font-weight: 300;
}

@mixin type--bigmultiline {
    @include type--big;
    line-height: 1.1em;
}

@mixin type--huge {
    font-size: 80px;
    line-height: 0.97em;
    letter-spacing: -0.07em;
    font-weight: 200;
}

@mixin type--multiline {
    line-height: 1.1em;
    p:last-child {
        margin: 0;
    }
    p {
        margin-bottom: 1em;
    }
    a {
    }
}

h1 {
    @include type--huge;
    margin: 0;
    font-weight: 300;
}

a {
    color: inherit;
}