// All type sizing and styling is isolated to this file.

@mixin type--default {
    font-family: 'GT Zirkon';
    font-weight: normal;
    font-size: 18px;
    color: $black;
    line-height: 1em;
    letter-spacing: -0.01em;
    p {
        margin: 0;
    }

    @include breakpoints(font-size, 18px, 20px, 22px, 24px);

}