@font-face {
    font-family: 'GT Walsheim';
    font-style: normal;
    src: url('../fonts/GT-Walsheim-Regular.woff2') format('woff2'),
         url('../fonts/GT-Walsheim-Regular.woff') format('woff');

  }

// Most of these styles are the same as the original notices, save the different font

html, body {
    font-size: 30px;
    font-family: 'GT Walsheim', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

div {
    box-sizing: border-box;
}

body.print {
    height: 99%;
}

.notice {
    position: relative;
    height: 99%;

    .notice--title {
        padding: 3.8rem 0.8rem 0 0.8rem;
        h2 {
            font-size: 3.6rem;
            letter-spacing: -0.1rem;
            margin: 0;
            line-height: 3.7rem;
            font-weight: normal;
        };
    }
    .notice--body {
        font-size: 0.5rem;
        line-height: 1.25;
        max-width: 60%;
        padding: 0.8rem;

        p {
            bottom: 0.5rem;
        }

        a {
            color: inherit;
        }
    }
    .notice--tools {
        display: none;
    }

    .notice--hidden, .notice--timing, .notice--location {
        font-size: 1.6rem;
        position: absolute;

        p {
            margin: 0;
        }
    }

    .notice--timing {
        text-align: justify;
        text-align-last: justify;
        top: 0.5rem;
        left: 0.8rem;
        right: 0.8rem;
    }

    .notice--hidden, .notice--location {
        bottom: 0.5rem;
    }

    .notice--hidden {
        text-align: left;
        left: 0.8rem;
    }

    .notice--location {
        text-align: right;
        right: 0.8rem;
    }

    br {
        display: none;
    }
}