@font-face {
  font-family: 'GT Walsheim';
  src: url("../fonts/gt-walsheim-regular.ttf") format("truetype"); }
h3, h4, h5, h6, body, html {
  font-family: 'GT Walsheim';
  font-size: 18px;
  color: #111111;
  line-height: 1.15em; }
  @media (min-width: 700px) and (max-width: 1099px) {
    h3, h4, h5, h6, body, html {
      font-size: 22px; } }
  @media (min-width: 1100px) and (max-width: 1399px) {
    h3, h4, h5, h6, body, html {
      font-size: 26px; } }
  @media (min-width: 1400px) and (max-width: 1699px) {
    h3, h4, h5, h6, body, html {
      font-size: 28px; } }
  @media (min-width: 1700px) {
    h3, h4, h5, h6, body, html {
      font-size: 34px; } }
  h3 p, h4 p, h5 p, h6 p, body p, html p {
    margin: 0; }
  h3 a, h4 a, h5 a, h6 a, body a, html a {
    text-decoration: none; }

nav#nav .nav--pane .pane--handle a, .link .link--caption a, .list .list--caption a, .notice .notice--meta a, .notice .notice--body a, .gallery .gallery--caption a, .list .list--cta a, .list .list--description a, .multimedia .multimedia--caption a, .imagegrid .imagegrid--description a {
  text-decoration: underline; }
  nav#nav .nav--pane .pane--handle a:hover, .link .link--caption a:hover, .list .list--caption a:hover, .notice .notice--meta a:hover, .notice .notice--body a:hover, .gallery .gallery--caption a:hover, .list .list--cta a:hover, .list .list--description a:hover, .multimedia .multimedia--caption a:hover, .imagegrid .imagegrid--description a:hover {
    color: #2C3DDE; }
nav#nav .nav--pane .pane--handle p, .link .link--caption p, .list .list--caption p, .notice .notice--meta p, .notice .notice--body p, .gallery .gallery--caption p, .list .list--cta p, .list .list--description p, .multimedia .multimedia--caption p, .imagegrid .imagegrid--description p {
  margin-bottom: 0.8em; }
  nav#nav .nav--pane .pane--handle p:last-child, .link .link--caption p:last-child, .list .list--caption p:last-child, .notice .notice--meta p:last-child, .notice .notice--body p:last-child, .gallery .gallery--caption p:last-child, .list .list--cta p:last-child, .list .list--description p:last-child, .multimedia .multimedia--caption p:last-child, .imagegrid .imagegrid--description p:last-child {
    margin-bottom: 0; }

nav#nav .nav--pane .pane--handle, .link .link--caption, .list .list--caption {
  text-transform: uppercase;
  letter-spacing: 0.01em; }

.imagegrid .imagegrid--caption, h2, .link .link--title, .list .list--item .item--title {
  font-size: 27px;
  letter-spacing: -0.02em;
  line-height: 1em; }
  @media (min-width: 700px) and (max-width: 1099px) {
    .imagegrid .imagegrid--caption, h2, .link .link--title, .list .list--item .item--title {
      font-size: 34px; } }
  @media (min-width: 1100px) and (max-width: 1399px) {
    .imagegrid .imagegrid--caption, h2, .link .link--title, .list .list--item .item--title {
      font-size: 44px; } }
  @media (min-width: 1400px) and (max-width: 1699px) {
    .imagegrid .imagegrid--caption, h2, .link .link--title, .list .list--item .item--title {
      font-size: 46px; } }
  @media (min-width: 1700px) {
    .imagegrid .imagegrid--caption, h2, .link .link--title, .list .list--item .item--title {
      font-size: 54px; } }
  .imagegrid .imagegrid--caption a, h2 a, .link .link--title a, .list .list--item .item--title a {
    text-decoration: none; }

.imagegrid .imagegrid--caption {
  text-transform: uppercase; }

h1, .textblock.textblock__featured {
  font-size: 36px;
  letter-spacing: -0.03em;
  line-height: 1.1em; }
  @media (min-width: 700px) and (max-width: 1099px) {
    h1, .textblock.textblock__featured {
      font-size: 46px; } }
  @media (min-width: 1100px) and (max-width: 1399px) {
    h1, .textblock.textblock__featured {
      font-size: 66px; } }
  @media (min-width: 1400px) and (max-width: 1699px) {
    h1, .textblock.textblock__featured {
      font-size: 70px; } }
  @media (min-width: 1700px) {
    h1, .textblock.textblock__featured {
      font-size: 80px; } }
  h1 a, .textblock.textblock__featured a {
    text-decoration: underline; }
    h1 a:hover, .textblock.textblock__featured a:hover {
      color: #2C3DDE; }

h1 {
  font-weight: normal;
  margin: 0; }

h2 {
  font-weight: normal;
  margin: 0; }

a {
  color: inherit; }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadeout {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@keyframes expand {
  from {
    height: 40px; }
  to {
    height: calc(100vh - 40px  * 2); } }
@keyframes expand-sm {
  from {
    height: 45px; }
  to {
    height: calc(100vh - 45px * 2); } }
@keyframes expand-md {
  from {
    height: 50px; }
  to {
    height: calc(100vh - 50px * 2); } }
@keyframes expand-lg {
  from {
    height: 60px; }
  to {
    height: calc(100vh - 60px * 2); } }
@keyframes expand-xl {
  from {
    height: 70px; }
  to {
    height: calc(100vh - 70px * 2); } }
@keyframes shrink {
  from {
    height: calc(100vh - 40px * 2); }
  to {
    height: 40px; } }
@keyframes shrink-sm {
  from {
    height: calc(100vh - 45px * 2); }
  to {
    height: 45px; } }
@keyframes shrink-md {
  from {
    height: calc(100vh - 50px * 2); }
  to {
    height: 50px; } }
@keyframes shrink-lg {
  from {
    height: calc(100vh - 60px * 2); }
  to {
    height: 60px; } }
@keyframes shrink-xl {
  from {
    height: calc(100vh - 70px * 2); }
  to {
    height: 70px; } }
.anim--shrink, .anim--expand {
  animation-delay: 0.15s;
  animation-duration: 0.35s;
  transition-timing-function: cubic-bezier(0.24, 0, 0.18, 1);
  animation-fill-mode: both; }

.anim--shrink {
  animation-name: shrink; }
  @media (min-width: 700px) and (max-width: 1099px) {
    .anim--shrink {
      animation-name: shrink-sm; } }
  @media (min-width: 1100px) and (max-width: 1399px) {
    .anim--shrink {
      animation-name: shrink-md; } }
  @media (min-width: 1400px) and (max-width: 1699px) {
    .anim--shrink {
      animation-name: shrink-lg; } }
  @media (min-width: 1700px) {
    .anim--shrink {
      animation-name: shrink-xl; } }

.anim--expand {
  animation-name: expand; }
  @media (min-width: 700px) and (max-width: 1099px) {
    .anim--expand {
      animation-name: expand-sm; } }
  @media (min-width: 1100px) and (max-width: 1399px) {
    .anim--expand {
      animation-name: expand-md; } }
  @media (min-width: 1400px) and (max-width: 1699px) {
    .anim--expand {
      animation-name: expand-lg; } }
  @media (min-width: 1700px) {
    .anim--expand {
      animation-name: expand-xl; } }

.anim--fadein, .anim--fadeout {
  animation-duration: 0.15s;
  animation-fill-mode: both; }

.anim--fadein {
  animation-name: fadein; }

.anim--fadeout {
  animation-name: fadeout; }

body, html {
  margin: 0;
  padding: 0;
  background: #eeeeee; }

div {
  box-sizing: border-box; }

nav#nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  pointer-events: none;
  z-index: 100; }
  nav#nav .nav--pane {
    height: 40px;
    transition: 0.25s;
    box-shadow: 0px -10px 20px rgba(0, 0, 0, 0.1); }
    @media (min-width: 700px) and (max-width: 1099px) {
      nav#nav .nav--pane {
        height: 45px; } }
    @media (min-width: 1100px) and (max-width: 1399px) {
      nav#nav .nav--pane {
        height: 50px; } }
    @media (min-width: 1400px) and (max-width: 1699px) {
      nav#nav .nav--pane {
        height: 60px; } }
    @media (min-width: 1700px) {
      nav#nav .nav--pane {
        height: 70px; } }
    nav#nav .nav--pane .pane--handle {
      height: 40px;
      display: flex;
      align-items: center;
      pointer-events: all;
      padding: 0 20px;
      text-align: left; }
      @media (min-width: 700px) and (max-width: 1099px) {
        nav#nav .nav--pane .pane--handle {
          height: 45px; } }
      @media (min-width: 1100px) and (max-width: 1399px) {
        nav#nav .nav--pane .pane--handle {
          height: 50px; } }
      @media (min-width: 1400px) and (max-width: 1699px) {
        nav#nav .nav--pane .pane--handle {
          height: 60px; } }
      @media (min-width: 1700px) {
        nav#nav .nav--pane .pane--handle {
          height: 70px; } }
      @media (min-width: 700px) and (max-width: 1099px) {
        nav#nav .nav--pane .pane--handle {
          padding: 0 28px; } }
      @media (min-width: 1100px) and (max-width: 1399px) {
        nav#nav .nav--pane .pane--handle {
          padding: 0 40px; } }
      @media (min-width: 1400px) and (max-width: 1699px) {
        nav#nav .nav--pane .pane--handle {
          padding: 0 48px; } }
      @media (min-width: 1700px) {
        nav#nav .nav--pane .pane--handle {
          padding: 0 60px; } }
      @media (max-width: 1099px) {
        nav#nav .nav--pane .pane--handle .pane--subpagetitle {
          display: none; } }
    nav#nav .nav--pane.__isactive {
      height: calc(100vh - 40px * 2); }
      @media (min-width: 700px) and (max-width: 1099px) {
        nav#nav .nav--pane.__isactive {
          height: calc(100vh - 45px * 2); } }
      @media (min-width: 1100px) and (max-width: 1399px) {
        nav#nav .nav--pane.__isactive {
          height: calc(100vh - 50px * 2); } }
      @media (min-width: 1400px) and (max-width: 1699px) {
        nav#nav .nav--pane.__isactive {
          height: calc(100vh - 60px * 2); } }
      @media (min-width: 1700px) {
        nav#nav .nav--pane.__isactive {
          height: calc(100vh - 70px * 2); } }
      nav#nav .nav--pane.__isactive .pane--handle {
        mix-blend-mode: difference; }
    nav#nav .nav--pane:not(.__isactive) {
      background: #eeeeee; }
    nav#nav .nav--pane:last-child {
      white-space: nowrap; }
      nav#nav .nav--pane:last-child:not(.__isactive) {
        background: #FFF974; }
      nav#nav .nav--pane:last-child .pane--handle {
        position: relative; }
        nav#nav .nav--pane:last-child .pane--handle.__hasmarquee {
          padding-left: 0;
          padding-right: 0; }
      nav#nav .nav--pane:last-child .notices--marquee {
        padding-left: 200px;
        overflow: hidden; }
        nav#nav .nav--pane:last-child .notices--marquee .marquee--marker {
          margin: 0 2em; }
  nav#nav a {
    color: #111111;
    text-decoration: none;
    text-transform: uppercase; }

main#home, main#internal {
  padding-top: 40px;
  margin-bottom: 40px; }
  @media (min-width: 700px) and (max-width: 1099px) {
    main#home, main#internal {
      padding-top: 45px; } }
  @media (min-width: 1100px) and (max-width: 1399px) {
    main#home, main#internal {
      padding-top: 50px; } }
  @media (min-width: 1400px) and (max-width: 1699px) {
    main#home, main#internal {
      padding-top: 60px; } }
  @media (min-width: 1700px) {
    main#home, main#internal {
      padding-top: 70px; } }
  @media (min-width: 700px) and (max-width: 1099px) {
    main#home, main#internal {
      margin-bottom: 90px; } }
  @media (min-width: 1100px) and (max-width: 1399px) {
    main#home, main#internal {
      margin-bottom: 100px; } }
  @media (min-width: 1400px) and (max-width: 1699px) {
    main#home, main#internal {
      margin-bottom: 120px; } }
  @media (min-width: 1700px) {
    main#home, main#internal {
      margin-bottom: 140px; } }
main#about {
  padding-top: 80px;
  margin-bottom: 40px; }
  @media (min-width: 700px) and (max-width: 1099px) {
    main#about {
      padding-top: 90px; } }
  @media (min-width: 1100px) and (max-width: 1399px) {
    main#about {
      padding-top: 100px; } }
  @media (min-width: 1400px) and (max-width: 1699px) {
    main#about {
      padding-top: 120px; } }
  @media (min-width: 1700px) {
    main#about {
      padding-top: 140px; } }
  @media (min-width: 700px) and (max-width: 1099px) {
    main#about {
      margin-bottom: 45px; } }
  @media (min-width: 1100px) and (max-width: 1399px) {
    main#about {
      margin-bottom: 50px; } }
  @media (min-width: 1400px) and (max-width: 1699px) {
    main#about {
      margin-bottom: 60px; } }
  @media (min-width: 1700px) {
    main#about {
      margin-bottom: 70px; } }
main#notices {
  background: #FFF974;
  padding-top: 120px; }
  @media (min-width: 700px) and (max-width: 1099px) {
    main#notices {
      padding-top: 135px; } }
  @media (min-width: 1100px) and (max-width: 1399px) {
    main#notices {
      padding-top: 150px; } }
  @media (min-width: 1400px) and (max-width: 1699px) {
    main#notices {
      padding-top: 180px; } }
  @media (min-width: 1700px) {
    main#notices {
      padding-top: 210px; } }
main#notice {
  background: #FFF974;
  padding-top: 120px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; }
main #content {
  margin: 0 auto; }

.notice, .textblock, .link, .gallery, .list, .multimedia, .multimedia.multimedia__left, .imagegrid {
  padding: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.3); }
  @media (min-width: 700px) and (max-width: 1099px) {
    .notice, .textblock, .link, .gallery, .list, .multimedia, .multimedia.multimedia__left, .imagegrid {
      padding: 28px; } }
  @media (min-width: 1100px) and (max-width: 1399px) {
    .notice, .textblock, .link, .gallery, .list, .multimedia, .multimedia.multimedia__left, .imagegrid {
      padding: 40px; } }
  @media (min-width: 1400px) and (max-width: 1699px) {
    .notice, .textblock, .link, .gallery, .list, .multimedia, .multimedia.multimedia__left, .imagegrid {
      padding: 48px; } }
  @media (min-width: 1700px) {
    .notice, .textblock, .link, .gallery, .list, .multimedia, .multimedia.multimedia__left, .imagegrid {
      padding: 60px; } }

.notice, .link, .gallery, .list, .multimedia, .imagegrid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 15px; }
  @media (min-width: 700px) and (max-width: 1099px) {
    .notice, .link, .gallery, .list, .multimedia, .imagegrid {
      grid-gap: 21px; } }
  @media (min-width: 1100px) and (max-width: 1399px) {
    .notice, .link, .gallery, .list, .multimedia, .imagegrid {
      grid-gap: 30px; } }
  @media (min-width: 1400px) and (max-width: 1699px) {
    .notice, .link, .gallery, .list, .multimedia, .imagegrid {
      grid-gap: 36px; } }
  @media (min-width: 1700px) {
    .notice, .link, .gallery, .list, .multimedia, .imagegrid {
      grid-gap: 45px; } }

.gallery.gallery__full .gallery--caption, .multimedia.multimedia__full .multimedia--caption {
  padding: 20px;
  padding-bottom: 20px; }
  @media (min-width: 700px) and (max-width: 1099px) {
    .gallery.gallery__full .gallery--caption, .multimedia.multimedia__full .multimedia--caption {
      padding: 0 28px; } }
  @media (min-width: 1100px) and (max-width: 1399px) {
    .gallery.gallery__full .gallery--caption, .multimedia.multimedia__full .multimedia--caption {
      padding: 0 40px; } }
  @media (min-width: 1400px) and (max-width: 1699px) {
    .gallery.gallery__full .gallery--caption, .multimedia.multimedia__full .multimedia--caption {
      padding: 0 48px; } }
  @media (min-width: 1700px) {
    .gallery.gallery__full .gallery--caption, .multimedia.multimedia__full .multimedia--caption {
      padding: 0 60px; } }
  @media (min-width: 700px) and (max-width: 1099px) {
    .gallery.gallery__full .gallery--caption, .multimedia.multimedia__full .multimedia--caption {
      padding-bottom: 28px; } }
  @media (min-width: 1100px) and (max-width: 1399px) {
    .gallery.gallery__full .gallery--caption, .multimedia.multimedia__full .multimedia--caption {
      padding-bottom: 40px; } }
  @media (min-width: 1400px) and (max-width: 1699px) {
    .gallery.gallery__full .gallery--caption, .multimedia.multimedia__full .multimedia--caption {
      padding-bottom: 48px; } }
  @media (min-width: 1700px) {
    .gallery.gallery__full .gallery--caption, .multimedia.multimedia__full .multimedia--caption {
      padding-bottom: 60px; } }

.notice {
  background: #FFF974;
  grid-auto-flow: row dense; }
  .notice:not(.notice__active) .notice--tools, .notice:not(.notice__active) .notice--location, .notice:not(.notice__active) .notice--body {
    display: none; }
  .notice:not(.notice__active):hover {
    background: #111111;
    color: #FFF974;
    cursor: pointer; }
    .notice:not(.notice__active):hover svg {
      stroke: #FFF974; }
  .notice svg {
    stroke: #111111; }
  .notice .notice--meta {
    grid-column: 1 / 5; }
    @media (max-width: 1099px) {
      .notice .notice--meta {
        grid-column: 1 / -1; } }
  .notice .notice--title {
    grid-column: 5 / 12; }
    @media (max-width: 1099px) {
      .notice .notice--title {
        grid-column: 1 / -1; } }
  .notice .notice--tools {
    grid-column: 1 / 5; }
    @media (max-width: 1099px) {
      .notice .notice--tools {
        grid-column: 1 / -1; } }
    .notice .notice--tools .notice--button {
      background: none;
      outline: none;
      padding: 0;
      margin: 0;
      border: none;
      transition: transform 0.25s; }
      .notice .notice--tools .notice--button:hover {
        cursor: pointer;
        transform: scale(1.1); }
  .notice .notice--body {
    grid-column: 5 / 12; }
    @media (max-width: 1099px) {
      .notice .notice--body {
        grid-column: 1 / -1; } }

.textblock.textblock__featured {
  text-align: center;
  padding: 120px 60px; }

.link {
  color: #2C3DDE;
  border-top: 1px solid #2C3DDE;
  border-bottom: 1px solid #2C3DDE;
  margin-bottom: -1px; }
  .link svg {
    stroke: #2C3DDE; }
  .link:hover {
    background: #2C3DDE;
    color: #eeeeee; }
    .link:hover svg {
      stroke: #eeeeee; }
  .link .link--caption {
    grid-column: 1 / 3; }
    @media (max-width: 699px) {
      .link .link--caption {
        grid-column: 1 / -1; } }
  .link .link--title {
    grid-column: 5 / 12; }
    @media (max-width: 699px) {
      .link .link--title {
        grid-column: 1 / -1; } }
  .link .link--icon {
    grid-column: span 1;
    align-self: center;
    text-align: right; }
    @media (max-width: 1099px) {
      .link .link--icon {
        display: none; } }

.gallery {
  grid-auto-flow: row dense; }
  .gallery .carousel--item {
    width: 100%; }
  .gallery.gallery__right .gallery--images {
    grid-column: 5 / -1; }
    @media (max-width: 1099px) {
      .gallery.gallery__right .gallery--images {
        grid-column: 1 / -1; } }
  .gallery.gallery__right .gallery--caption {
    grid-column: 2 / 5; }
    @media (max-width: 1099px) {
      .gallery.gallery__right .gallery--caption {
        grid-column: 1 / -1; } }
  .gallery.gallery__left .gallery--images {
    grid-column: 1 / 9; }
    @media (max-width: 1099px) {
      .gallery.gallery__left .gallery--images {
        grid-column: 1 / -1; } }
  .gallery.gallery__left .gallery--caption {
    grid-column: 9 / 12; }
    @media (max-width: 1099px) {
      .gallery.gallery__left .gallery--caption {
        grid-column: 1 / -1; } }
  .gallery.gallery__full {
    padding: 0; }
    .gallery.gallery__full .gallery--images {
      grid-column: 1 / -1; }
      @media (max-width: 1099px) {
        .gallery.gallery__full .gallery--images {
          grid-column: 1 / -1; } }
    .gallery.gallery__full .gallery--caption {
      grid-column: 5 / -1; }
      @media (max-width: 1099px) {
        .gallery.gallery__full .gallery--caption {
          grid-column: 1 / -1; } }
  .gallery .gallery--images {
    grid-column: 1 / 9; }
    .gallery .gallery--images img {
      width: 100%; }
  .gallery .gallery--caption {
    align-self: end;
    padding-bottom: 15px; }
    @media (min-width: 700px) and (max-width: 1099px) {
      .gallery .gallery--caption {
        padding-bottom: 21px; } }
    @media (min-width: 1100px) and (max-width: 1399px) {
      .gallery .gallery--caption {
        padding-bottom: 30px; } }
    @media (min-width: 1400px) and (max-width: 1699px) {
      .gallery .gallery--caption {
        padding-bottom: 36px; } }
    @media (min-width: 1700px) {
      .gallery .gallery--caption {
        padding-bottom: 45px; } }
  .gallery.gallery__left .flickity-page-dots {
    text-align: right; }
  .gallery.gallery__right .flickity-page-dots {
    text-align: left; }
  .gallery .flickity-page-dots .dot {
    background: transparent;
    border: 1px solid #111111;
    opacity: 1; }
    .gallery .flickity-page-dots .dot.is-selected {
      background: #111111; }
  .gallery .flickity-prev-next-button {
    top: 50%;
    bottom: 0;
    height: 100%;
    width: 50%;
    background: none;
    border-radius: 0; }
    .gallery .flickity-prev-next-button.next {
      cursor: url(../img/cursor-next.svg), e-resize; }
    .gallery .flickity-prev-next-button.previous {
      cursor: url(../img/cursor-prev.svg), w-resize; }
    .gallery .flickity-prev-next-button svg {
      display: none; }
    @media (max-width: 1099px) {
      .gallery .flickity-prev-next-button {
        display: none; } }

.list .list--caption {
  grid-column: span 6; }
  @media (max-width: 1099px) {
    .list .list--caption {
      grid-column: 1 / -1; } }
.list .list--cta {
  grid-column: span 6;
  grid-row: 2 / 4; }
  @media (max-width: 1099px) {
    .list .list--cta {
      grid-column: 1 / -1; } }
.list .list--description {
  grid-column: 5 / 10; }
  @media (max-width: 1099px) {
    .list .list--description {
      grid-column: 1 / -1; } }
.list .list--item {
  grid-column: span 6;
  display: block;
  grid-row: span 1; }
  @media (max-width: 1099px) {
    .list .list--item {
      grid-column: 1 / -1; } }
  .list .list--item .item--description {
    padding-top: 13px;
    align-self: end; }
.list .item--icon {
  grid-column: span 1;
  align-self: center;
  text-align: right; }
  @media (max-width: 1099px) {
    .list .item--icon {
      display: none; } }
.list svg {
  stroke: #111111; }

.multimedia {
  grid-auto-flow: row dense; }
  .multimedia.multimedia__right .multimedia--embed {
    grid-column: 5 / 13; }
    @media (max-width: 1099px) {
      .multimedia.multimedia__right .multimedia--embed {
        grid-column: 1 / -1; } }
  .multimedia.multimedia__right .multimedia--caption {
    grid-column: 1 / 5; }
    @media (max-width: 1099px) {
      .multimedia.multimedia__right .multimedia--caption {
        grid-column: 1 / -1; } }
  .multimedia.multimedia__left .multimedia--embed {
    grid-column: 1 / 9; }
    @media (max-width: 1099px) {
      .multimedia.multimedia__left .multimedia--embed {
        grid-column: 1 / -1; } }
  .multimedia.multimedia__left .multimedia--caption {
    grid-column: 9 / 13; }
    @media (max-width: 1099px) {
      .multimedia.multimedia__left .multimedia--caption {
        grid-column: 1 / -1; } }
  .multimedia.multimedia__full {
    padding: 0; }
    .multimedia.multimedia__full .multimedia--embed {
      grid-column: 1 / -1; }
      @media (max-width: 1099px) {
        .multimedia.multimedia__full .multimedia--embed {
          grid-column: 1 / -1; } }
    .multimedia.multimedia__full .multimedia--caption {
      grid-column: 5 / -1; }
      @media (max-width: 1099px) {
        .multimedia.multimedia__full .multimedia--caption {
          grid-column: 1 / -1; } }
  .multimedia .multimedia--caption {
    align-self: center; }

.imagegrid .imagegrid--image {
  grid-column: span 6; }
  @media (max-width: 1099px) {
    .imagegrid .imagegrid--image {
      grid-column: 1 / -1; } }
  .imagegrid .imagegrid--image img {
    width: 100%; }
.imagegrid .imagegrid--caption {
  grid-column: 1 / 5; }
  @media (max-width: 1099px) {
    .imagegrid .imagegrid--caption {
      grid-column: 1 / -1; } }
.imagegrid .imagegrid--description {
  grid-column: 5 / 12; }
  @media (max-width: 1099px) {
    .imagegrid .imagegrid--description {
      grid-column: 1 / -1; } }

/*# sourceMappingURL=main.css.map */
